.obsidian/
CELI RESOURCES.md
CONVERSATION DESIGN.md
SOOTHER IDEAS.md
SOOTHER INFRASTRUCTURE.md
SOOTHER PERSONA.md
SOOTHER SKILLS.md
SOOTHER TEXT TO TRAIN.md
STACK.md
TECH REQUIREMENTS.md
USER PERSONAS.md
bunny_the_dog.0.jpg
i-think-you-are-wonderful-charles-barsotti.jpg
tenderbuttons.md

